@primary: #355990;
@primary-darken: #1e3b68;
@secondary: #9fb2cd;
@background: #f7f7f7;
@white: #FFF;
@light-grey: #dadada;
@placeholder: #c5c5c5;
@black: #676767;


html{
    color: @primary;
    font-size: 10px;
    font-family: 'Montserrat', sans-serif;
    body{
        background: @background;
        margin: 0;
        .container{
            width: 800px;
            left: 0;
            right: 0;
            margin: 0 auto;
        }
    }
}
.section-wrapper{
    padding: 2rem 4rem;
    border-radius: 5px;
    background: @white;
    box-shadow: 0 0 5px 0px @light-grey;
}
h1{
    font-weight: 300;
    padding-left: 4rem;
    font-size: 3rem;
    margin: 0;
    color: @white;
}
h2{
    font-weight: 500;
    font-size: 2rem;
    margin: 0 0 2rem 0;
}
h2:after{
    content: '';
    border-bottom: 1px solid @light-grey;
    width: 100%;
    display: block;
    padding-top: 1rem;
}
h3{
    color: @secondary;
    font-weight: 400;
    font-size: 1.2rem;
    margin: 0;
    width: 20%;
    padding-top: 10px;
    text-transform: uppercase;
    &.required{
        &:after{
            content: " *";
            color: red;
        }
    }
}

.d-flex{
    display: flex;
}
.d-inline-flex{
    display: inline-flex;
}
.align-items-center{
    align-items: center;
}
.w-100{
    width: 100%;
}
.w-80{
    width: 80%;
}
.mb-15{
    margin-bottom: 1.5rem;
}
.mb-35{
    margin-bottom: 3.5rem;
}

input[type="text"], input[type="number"], input[type="date"], input[type="time"], select, textarea{
    padding: 9px 9px;
    border: 1px solid @light-grey;
    width: 70%;
    box-sizing: border-box;
    &::placeholder{
        font-size: 1.5rem;
        color: @placeholder;
    }
}
textarea{
    min-height: 135px;
    resize: none;
}
input[type="date"], input[type="time"]{
    width: auto;
}
input[type="number"]{
    width: 95px;
}
span.simple-text{
    font-size: 1.2rem;
    font-weight: 500;
    color: @black;
    margin: 0 10px;
}
.about__payment{
    height: 35px;
    h3{
        display: flex;
        align-items: center;
        padding-top: 0;
    }
    .about__payment-field{
        display: inline-flex;
    }
    #radio-paid-event{
        margin: 0 15px;
    }
    #radio-paid-event, #radio-free-event{
        display: inline-flex;
        align-items: center;
        span.simple-text{
            display: flex;
            align-items: center;
        }
        span.error{
            display: flex;
            align-items: center;
        }
        input[type="radio"]{
            width: 17px;
            height: 17px;
            margin: 0;
        }
    }
}
.mini-description{
    width: 70%;
    span{
        margin-bottom: 0;
        margin-top: 5px;
        color: @light-grey;
        font-style: italic;
    }
    span.mini-description-length{
        float: right;
    }
}

header{
    padding-bottom: 4rem;
    .header__top{
        background: @primary-darken;
        padding: 2rem 0 0 0;
    }
    .header__bottom{
        background: @primary;
        padding: 4rem 0 2rem 0;
    }
}
section{
    padding-bottom: 3rem;
}
button{
    margin: 0 auto;
    left: 0;
    right: 0;
    display: block;
    padding: 1rem 2rem;
    box-shadow: 0 0 5px 0px @light-grey;
    border: 0;
    background: @primary;
    color: @white;
    border: 1px solid @primary;
    border-radius: 5px;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    transition: 0.3s ease;
    font-weight: bold;
    cursor: pointer;
    &:focus{
        outline: 0;
    }
    &:hover{
        background: transparent;
        color: @primary;
    }
    :disabled, [disabled]{
        background: @primary-darken;
    }
}
#event-fee{
    display: none;
}
span.error{
    color: red;
    padding-left: 10px;
}
input[type="text"].error, textarea.error{
    border: 1px solid red;
}
form{
    padding-bottom: 3rem;
}